body{
    font-family: 'Kanit', sans-serif;
    height: 95vh !important;
}
input[type="file"] {
    display: none;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: black !important;
    border-color: black !important;
}
.customSweetAlertConfirmButton{
    width: 100% !important;
    background-color: black !important;
    border-color: black !important;
    color: white;
}
.swal2-close{
    font-size: 50px !important;
    color: #808080 !important;
}
.swal2-html-container{
    font-size: 21px !important;
}
.title{
    font-size: 30px;
}
.textwarning{
	color:black;
	font-size: 0.813rem;
}
.custom-file-label{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.swal2-title{
    font-size: 20px !important;
}
.swal2-header {
    padding: 0 0.5em !important;
}
.swal2-actions {
    padding: 0 0em !important;
}
.alertText{
    line-height: 1.7 !important;
}
label{
    font-size: 17px;
}
button{
    font-size: 19px !important;
}
.form-control{
    font-size: 16px !important;
}
.photo{
	position: inherit;
    /* position: absolute;
    top: 10%;
    left: 10%;
    display: block; */
    width: 100% !important;
    height: 100% !important;
    z-index: -1;
}

/* Carousal */
.slider {
    width: 100%;
}

.slick-slide {
  margin: 0px 10px;
}
.slick-dotted.slick-slider {
     margin-bottom: 10px; 
}
.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1;
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}
/* Page Add Text */
#draggable { width: 150px; height: 100px; padding: 0.5em; background-color: transparent; }

.draggableArea{
    width: 350px;
    height: 350px;
    background-image: url("../../photobooth2021/AW/Frame_1.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
}
.draggableAreaIn{
    width: 250px;
    height: 80px;
    position: relative; 
    border: 0.5px solid lightgray;
    left: 24px; 
    top: 221px;
    max-height: 150px;
    max-width: 300px;
    min-height: 80px;
    min-width: 200px;
    word-break: break-all;
}
.draggableAreaFrame1{
    height: 350px;
    padding: 2px;
    /* width: 360px; */
    background-repeat: no-repeat, repeat;
    background-size: cover;
}
.draggableAreaFrame2{
    height: 350px;
    padding: 2px;
    /* width: 360px; */
    background-repeat: no-repeat, repeat;
    background-size: cover;
}
.draggableAreaFrame3{
    height: 350px;
    padding: 2px;
    /* width: 360px; */
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.draggableAreaFrame4{
    height: 350px;
    padding: 2px;
    /* width: 360px; */
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.draggableAreaFrame5{
    height: 350px;
    padding: 2px;
    /* width: 360px; */
    background-repeat: no-repeat, repeat;
    background-size: cover;
}
.draggableAreaInFrame{
    width: 300px;
    height: 300px;
    position: relative; 
    /* border: 1px solid orange; */
    left: 25px; 
    top: 25px;
    min-width: 200px;
    min-height: 280px;
    max-width: 310px;
    max-height: 290px;
}
#txtCaptureOnImage{
    font-size: 25px;
    /* font-family: Arial, Helvetica, sans-serif; */
    text-align: left;
}
.btnCircle{
    border-radius: 20px;
    width: 25px;
    height: 25px;
    border: 1px solid gray;
}
#nwgrip,#negrip,#swgrip,#segrip,#ngrip,#sgrip,#wgrip,#egrip{
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border: 1px solid #000000;
}
#nwgrip{
    top: -5px;
    left:-5px;
}
#negrip{
    top: -5px;
    right:-5px;
}
#swgrip{
    bottom: -5px;
    left:-5px;
}
#segrip{
    bottom: -5px;
    right:-5px;
}
#ngrip{
    top: -5px;
    left:50%;
}
#sgrip{
    bottom: -5px;
    left:50%;
}
#wgrip{
    left: -5px;
    top:50%;
}
#egrip{
    right: -5px;
    top:50%;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }



@media only screen and (max-width: 360px) {
    .smallScreenPic{
        height: 160px;
        width: 80%;
    }
    .smallScreenLogo{
        height: 5.5rem !important;
        width: 80% !important;
    }
    .buttonFooter{
        padding-top: 5% !important;
    }

    .swal2-title{
        font-size: 1.063rem !important;
    }
  }


@media only screen and (max-height: 600px) {
    .smallScreenPic{
        height: 160px;
        width: 80%;
    }
    .smallScreenLogo{
        height: 5.5rem !important;
        width: 80% !important;
    }
    .buttonFooter{
        padding-top: 5% !important;
    }
  }
  @media only screen and (min-height: 600px) {
    
    .buttonFooter{
        padding-top: 5% !important;
    }
  }
  @media only screen and (min-height: 800px) {
    
    .buttonFooter{
        padding-top: 7% !important;
    }
  }
  @media only screen and (min-height: 900px) {
    
    .buttonFooter{
        padding-top: 7% !important;
    }
  }